@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers

@model Erp.BackOffice.Sale.Models.CommissionCusViewModel

@{
    int orderNo = 0;
}
<table class="table table-bordered" style="margin-bottom:80px">
    <thead>
        <tr>
            <th width="30">STT</th>
            <th>Tên mặt hàng</th>
            <th width="120">Giá bán</th>
            <th width="150">Giá trị (% hoặc số tiền)</th>
            <th width="120">Chiết khấu số tiền</th>
        </tr>
    </thead>
    <tbody class="detailList">
        @foreach (var item in Model.ProductList)
        {
            orderNo++;
            var commission = Model.DetailList.Where(x => x.ProductId == item.Id).ToList();
            decimal CommissionValue = 0;
            bool? IsMoney = false;
            if (commission.Count() > 0)
            {
                var comss= commission.FirstOrDefault();
                CommissionValue =comss.CommissionValue;
                IsMoney = comss.IsMoney;
            }
            <tr data-id="@(orderNo-1)">
                <td>@orderNo</td>
                <td>@item.Name</td>
                <td class="text-right">@CommonSatic.ToCurrencyStr(item.PriceOutbound,null)</td>
                <td>
                    @Html.Hidden("DetailList[" + (orderNo - 1) + "].Id", item.Id)
                    @Html.Hidden("DetailList[" + (orderNo - 1) + "].ProductId", item.Id)
                    @Html.Hidden("DetailList[" + (orderNo - 1) + "].Price", item.PriceOutbound)
                    @Html.TextBox("DetailList[" + (orderNo - 1) + "].CommissionValue", CommissionValue, new { style = "width:85px; text-align:right; " + (CommissionValue > 0 ? "border:1px solid green; font-weight:bold; color:green" : ""), @class = "input-price numberinput2", autocomplete = "off" })
                    @Html.TextBox("DetailList[" + (orderNo - 1) + "].CommissionValueText", (IsMoney != null && IsMoney == true ? "VNĐ" : "%"), new { style = "width:40px; text-align:center", @readonly = "readonly" })
                </td>
                <td>
                    <label>
                        <input class="detail_item_check ace" type="checkbox" name="DetailList[@(orderNo - 1)].IsMoney" data-index="@(orderNo - 1)" id="DetailList_@(orderNo - 1)__IsMoney" value="@(IsMoney != null && IsMoney == true ? "true" : "false")" @(IsMoney != null && IsMoney == true ? "checked=\"checked\"" : "") />
                        <span class="lbl"></span>
                    </label>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        LoadNumberInput();
            $(".detail_item_check").change(function () {
                var index = $(this).data("index");
                if ($(this).prop("checked")) {
                    $("#DetailList_" + index + "__IsMoney").val(true);
                    $("#DetailList_" + index + "__CommissionValueText").val("VNĐ");
                }
                else {
                    $("#DetailList_" + index + "__IsMoney").val(false);
                    $("#DetailList_" + index + "__CommissionValueText").val("%");
                }
            });
        });
        function CheckIsval() {
            if ($('[name="DeleteId-checkbox"]').is(':checked') == false) {
                alert("Phải chọn ít nhất 1 item.");
                return false;
            }
            else {
                if (confirm('Bạn có chắc muốn xóa các item đã chọn ?')) {
                    return true;
                }
                else {
                    return false;
                }
            }
        }

        $('[name="Delete"]').click(function () {
            if (confirm('Bạn có chắc muốn xóa item ?')) {
                $(this).closest('tr').children('td').each(function (i, e) {
                    $(this).find("input.class-delete-all").prop("checked", true);
                    return true;
                })
            }
            else {
                return false;
            }

        })

</script>